html {
    background-color: rgba(67, 67, 67, 90%)!important;
}

.container {
    /* background-color: rgba(67, 67, 67); */
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.vars-blue {
    color: #448EAC!important;
}